body {
    font-family: "Arial";
    color: #ffffff;
    background-color: #033132;
    padding: 2px;
}

.content {
    text-align: center;
}

.grid {
    background-color: #0a5153;
    border-style: solid;
    margin:auto;
}

.grid td {
    width: 20px;
    height: 20px;
}

.s_block {
    background-color: #ffff00;
}

.f_block {
    background-color: #ff0000;
}