body {
    font-family: "Arial";
    color: #ffffff;
    background-color: #033132;
    padding: 2px;
}

#menu {
    padding: 30px 50px;
    background-color: #033132;;
    border: 1px solid #c6c6c6;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link { color: #c6c6c6; }
a:visited { color: #c6c6c6; }
a:hover { color: #ffff00; }


.grid {
    background-color: #0a5153;
    border-style: solid;
    margin: 5px auto;
}

.grid td {
    width: 20px;
    height: 20px;
}

.s_block { background-color: #ffff00; }
.f_block { background-color: #ff0000; }